.alt-search__input {
  border: 1px solid #cacaca;
  border-radius: 4px;
  font-size: 16px;
  left: 45px;
  outline: none;
  position: relative;
  top: 11px;
}

.alt-search__results {
  background: #fff;
  left: 0;
  position: absolute;
  top: 58px;
  width: 100%;
  z-index: 1;
}

.alt-search__result {
  padding: 1em;
}

.alt-search__result.selected {
  background: #e0e0e0;
}

.alt-search__result-title {
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 0.25em;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alt-search__result-title mark { }

.alt-search__result-snippet {
  color: #666;
  font-size: 0.8em;
  line-height: 1.15em;
  margin-bottom: 0.25em;
  margin: 0;
}

.alt-search__result-snippet mark {
  background: inherit;
  color: #666;
  font-weight: bold;
}

.alt-search__result-link {
  color: #888;
  font-size: 0.65em;
  font-weight: normal;
  margin: 0;
}

hr {
  background: #efefef;
  border: none;
  height: 1px;
  margin: 0.5em 0;
  width: 100%;
}
